body {
	background-color: black;
	box-sizing: border-box;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.ryu {
    width: 659px;
    height: 494px;
    float:left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
  background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}
.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.how-to-play{
	text-align: center;
	padding-top:2em;

}

.how-to-play p{
	padding-right:3.5em;
	line-height: 1.5em;
	font-size:3em;
	font-family:Bangers,sans-serif;

}
.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  top:170px;
  left:550px;
  float: left;
  position: absolute;
  z-index: 10;
}
